[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "zsh-zimfw"]
	path = zsh-zimfw
	url = https://github.com/zimfw/zimfw.git
